.view_event_modal {

    .title {
        color: #263446;
        font-size: 14px;
        font-weight: 500;
    }

    .time_period {
        color: #6C757D;
        font-size: 14px;
        font-weight: 400;
    }

    .image_container {
        padding: 22px 30px;
        background-color: #F5F5F5;
        border: 1px solid #DBDCE6;
        border-radius: 6px;
    }
}