.nodatafound_container{
    text-align:center;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Poppins';
        color: #80889E;
        width: 100%;
        // background-color: red;
        padding: 50px 0px;
}