.overall____logincridential {
  width: 100%;
  padding-bottom: 20px;
  // background-color: red;
  .head__searchpayment__fees {
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: #263446;
    margin: 24px 0px;
    // margin-bottom: 24px;
  }
  .hr_line {
    margin-top: 20px;
  }
  .academic__master__add__export__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn__container {
      display: flex;
      gap: 0.5rem;
      .export__butt__overall {
        border-radius: 8px;
        gap: 10px;
      }
      .btn__add {
        .p-button {
          color: #ffffff;
          background: #4360e4;
          border: 1px solid #4360e4;
          padding: 10px 16px 10px 16px;
          font-size: 12px;
          transition: background-color 0.2s, color 0.2s, border-color 0.2s,
            box-shadow 0.2s;
          border-radius: 8px;
          gap: 10px;
        }
        .p-button-label {
          font-weight: 400;
          font-family: "Poppins";
        }
      }
    }
  }
  .payment__searchpayment__feesoverall {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 40px;
  }
  .button__searchpayment__saveoverall {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .button__searchpayment__overall {
    display: flex;
  //  height: 100%;
   align-items: end;
  }
  .lable__searchpayment__fees {
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #263446;
    margin-bottom: 4px;
  }
  .star__searchpayment__fees {
    color: red;
  }
  .input__searchpayment__fees {
    border-radius: 6px;
    border-color: #dbdce6;
    height: 40px;
    width: 360px;
  }
  .button__searchpayment__save {
    border-radius: 6px;
    background-color: #4360e4;

    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    height: 40px;
  }
  .button__searchpayment__fees {
    border-radius: 8px;
    border-color: #4360e4;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #4360e4;
    padding: 8px 16px;
  }
}
