@import "../../utility/colors";

.common__button {
  .p-button {
    background: var(--base-color);
    // border: 0px !important;
    border: var(--base-text-inactive-color) 1px solid;
    border-radius: 6px;
    padding: 16px 16px;
    // gap: 8px;
    width: 100%;
    &.has-two-children {
        gap: 8px;
      }
    // & > *:nth-child(2) {
    //   margin-left: 8px;
    // }
    // box-shadow: 18px 18px 30px 0px $button-shadow-start,
    //   -18px -18px 30px 0px $button-shadow-end;

   &.p-button-outlined {
     background: transparent;
     border: var(--base-color) 1px solid !important;
     .p-button-label {
       color: var(--base-color);
       // padding-left: 16px;
       // background-color: red;
     }
   }
    // &:focus {
    // background: linear-gradient(
    //   145deg,
    //   $button-focus-start,
    //   $button-focus-end
    // );
    // box-shadow: 18px 18px 30px 0px $button-focus-start,
    //   -18px -18px 30px 0px $button-focus-end;
    // }

    .p-button-label {
      font-size: 16px;
      font-weight: 600;
      transition-duration: 0s;
      color: var(--base-text-inactive-color);
      // padding-left: 16px;
      // background-color: red;
    }
  }
}