.accordion-header {
  display: flex;
  align-items: center;
}

.accordion-checkbox {
  margin-right: 8px;
}

.accordion-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}
.p-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  margin-right: 0.5rem;
  display: none;
}
// .p-accordion-header {
//   a {
//     background-color: var(--base-color);
//   }
// }
.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-header-title {
  color: #263446;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.p-accordion .p-accordion-content {
  // padding: 0rem !important;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  color: #4b5563;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
