.disable-student-details-main-container {
  .data-container {
    border-radius: 8px;
    border: 1px solid #dbdce6;
  }
  .underline {
    border-width: 1px 0 0 0;
    border-color: #dbdce6;
    border-style: solid;
  }
  .title-caption {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    padding: 16px 20px;
    color: #263446;
  }
  .data-caption {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 400;
    padding: 16px 20px;
    color: #263446;
  }
  .url-container {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    color: #4360e4;
    margin: 24px 4px;
    cursor: pointer;
  }
}
