.list_view_alumni_manage_container {
  .render__action {
    .render__action__edit {
      background-color: #3d5ee1;
      width: max-content;
      padding: 6px 6px 3px 6px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  .p-column-header-content {
    .column__header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #80889e;
      font-weight: 400;
    }

    span[data-pc-section="sort"] {
      display: none;
    }
  }

  .p-datatable-thead tr {
    border: none;
    border-radius: 6px;
    th {
      background-color: #f9fafb;
      border: none;

      &.p-highlight {
        background-color: #eef2ff;
      }
    }
  }
}
