@import "../../../../utility/colors.scss";
.branch__master__form__container__auth {
  // height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .form__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .form__title {
      font-size: 24px;
      font-weight: 600;
      color: $button-font-color;
    }
    .dropdown__container {
      display: flex;
      justify-content: end;
    }
  }
  .button__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;
    .signup__caption {
      align-self: center;
      font-size: 16px;
      font-weight: 400;
      color: #063a5a;
      text-align: end;
    }
  }
}
