$navbar-width: 100%;
$navbar-height: 100%;

// Dark Colors: Primary colors
$darkRed: #eb5757;
$red: #ff0000;
$cobalt: #0047ab;
$dimgray: #686868;
$darkgray: #4b5563;
$sidebar-bg-color: #0047ab;
$black: #000;
$voilet: #7674d5;
$RoyalBlue: #0074b7;
$indigo: #0d3d46;
$darkAlice: #107895;
$darkerkelly: #b5c588;
$darkeryellow: #eed369;

// Light Colors: Secondary colors
$navbar-bg-color: #f4f4f4ed;
$lightgrey: #cdcdcd;
$aliceblue: #f4f9ff;
$white: #fff;
$link-hover-color: #333;
$btn-blue: #1e62e8;
$border-gray: #b1b1b1;
$lite-gray: #e8e8e8;
$lite-voilet: #6366f1;
$Lilac: #eeb5eb;
$Green: #98d7c2;
$lighterKelly: #107896;
$lightAlice: #f1f3f4;

// New figma login colors
$font-color: #3a3a3a;
$font-inactive-color: #cacaca;
$field-bg-color: rgba(255, 255, 255, 0.5);
$button-font-color: #063a5a;
$button-shadow-start: #d1d9e6;
$button-shadow-end: #ffffff;
$button-focus-start: #d1d9e6;
$button-focus-end: #ffffff;
$card-shadow-start: #d1d9e6;
$card-shadow-end: #ffffff;
$card-bg-secondary: #ecf0f3;
$common-bg: #ecf0f3;
$carousel-inactive-color: #cccccc;

// new figma theme colors
$royalblue-base-color: #4169e1;
$royalblue-base-text-color: #4169e1;
$royalblue-base-text-inactive-color: #ffffff;
$royalblue-base-background-color: #ffffff;
$royalblue-overall-color: #edf2ff;
$royalblue-total-color: #4169e1;
$royalblue-active-color: #59d3e3;
$royalblue-inactive-color: #e08700;
$royalblue-bar-base-color: #e08700;
$royalblue-bar-top-gradient: "rgba(224, 135, 0, 0.2)";
$royalblue-bar-bottom-gradient: "rgba(224, 135, 0, 0)";

$jacarta-base-color: #3d3061;
$jacarta-base-text-color: #3d3061;
$jacarta-base-text-inactive-color: #ffffff;
$jacarta-base-background-color: #ffffff;
$jacarta-overall-color: #e5f0ff;
$jacarta-total-color: #7e58e6;
$jacarta-active-color: #598ce3;
$jacarta-inactive-color: #e0b300;
$jacarta-bar-base-color: #598ce3;
$jacarta-bar-top-gradient: "rgba(89, 140, 227, 0.2)";
$jacarta-bar-bottom-gradient: "rgba(89, 140, 0, 0)";

$titanwhite-base-color: #efefff;
$titanwhite-base-text-color: #50509f;
$titanwhite-base-text-inactive-color: #50509f;
$titanwhite-base-background-color: #e1e1ff;
$titanwhite-overall-color: #f1f1ff;
$titanwhite-total-color: #7e58e6;
$titanwhite-active-color: #35a4e6;
$titanwhite-inactive-color: #e6b035;
$titanwhite-bar-base-color: #50509f;
$titanwhite-bar-top-gradient: "rgba(80, 80, 159, 0.2)";
$titanwhite-bar-bottom-gradient: "rgba(80, 80, 0, 0)";

$sugarcane-base-color: #f1ffef;
$sugarcane-base-text-color: #25b900;
$sugarcane-base-text-inactive-color: #25b900;
$sugarcane-base-background-color: #c5ffb7;
$sugarcane-overall-color: #dbffd6;
$sugarcane-total-color: #674670;
$sugarcane-active-color: #25b900;
$sugarcane-inactive-color: #f0de1d;
$sugarcane-bar-base-color: #25b900;
$sugarcane-bar-top-gradient: "rgba(37, 185, 0, 0.2)";
$sugarcane-bar-bottom-gradient: "rgba(37, 185, 0, 0)";
