html[data-family="Poppins"] {
  --font-family: #{"Poppins"};
}
html[data-family="Baamini"] {
  --font-family: #{"Baamini"};
}
html[data-family="Nudi"] {
  --font-family: #{"Nudi-Regular"};
}
html[data-family="Devanagari"] {
  --font-family: #{"Devanagari"};
}
