.disable__student__document__table__container {
  width: 100%;
  .button__container {
    padding-bottom: 24px;
    .button__area {
      border-radius: 8px;
      gap: 10px;
      .p-button-label {
        font-size: 14px;
        font-family: "Poppins";
        font-weight: 500;
      }
    }
  }
  .table__main__container {
    .column__header {
      color: #80889e;
      font-weight: 500;
      font-family: "Poppins";
      font-size: 14px;
    }
    .column__action__header {
      color: #263446;
      font-weight: 400;
      font-family: "Poppins";
      font-size: 14px;
    }
    td {
      color: #263446;
      font-weight: 400;
      font-family: "Poppins";
      font-size: 14px;
    }
  }
}
