.lesson-details {
 
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: #333;
    }
  
    .lesson-info {
      margin-bottom: 20px;
      
      p {
        margin: 0 0 10px;
        font-size: 1rem;
        color: #555;
        
        strong {
          color: #333;
        }
      }
    }
  
    .topics-section {
       
      h3 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: #333;
      }
  
      .topic {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 2rem;
        ul {
          list-style-type: none;
          padding: 0;
  
          li {
            font-size: 0.95rem;
            margin-bottom: 5px;
            color: #666;
            
            strong {
              color: #333;
            }
          }
        }
      }
    }
  }
  