@import "../../utility/colors.scss";
@import "../../utility/them.scss";

$sidebar-width: 100%;
$link-padding: 8px;
$sidebar-height: 100vh;

.sidebar {
  width: $sidebar-width;
  height: $sidebar-height;
  background-color: var(--primary-background-color);
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  .logo__controller {
    padding: 0 10px;
    // backdrop-filter: contrast(0);
    // box-shadow: var(--secondry-background-color) 0px 1px 2px 0px,
    //   var(--secondry-background-color) 0px 1px 3px 1px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    ul {
      padding-left: 20px;
    }

    li {
      margin: 10px 0;

      a {
        text-decoration: none;
        color: var(--secondry-background-color);
        display: block;
        padding: $link-padding;
        border-radius: 4px;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .span_width {
          width: 70% !important;
          display: flex !important;
          justify-content: flex-end !important;
        }
        &:hover {
          background-color: var(--secondry-background-color);
          color: var(--primary-background-color);
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          .arrow {
            margin-left: 28px;
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid var(--primary-background-color) !important;
            transition: transform 0.2s ease;
          }
        }
      }
    }
  }
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--primary-background-color) !important;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--secondry-background-color) !important;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar li.active > a {
  text-decoration: none;
  color: var(--primary-background-color) !important;
  display: flex;
  padding: $link-padding;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: var(--secondry-background-color);
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: var(--secondry-background-color);
  display: block;
  padding: $link-padding;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.inactive .arrow {
  margin-right: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--secondry-background-color);
  transition: transform 0.2s ease;
  color: var(--secondry-background-color);
  margin-top: 5px;
}
.arrow {
  margin-right: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--primary-background-color);
  transition: transform 0.2s ease;
  color: var(--secondry-background-color);
  margin-top: 5px;
}

.arrow.down {
  transform: rotate(90deg);
}

.arrow.right {
  transform: rotate(0deg);
}