.total__count {
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 12px;
    height: 41%;
    display: grid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .title {
        color: #263446;
        font-size: 14px;
        line-height: 22px;
        font-family: "Poppins";
        font-weight: 500;
    }
    .count__text {
        display: flex;
        justify-content: space-between;
        .count__text__title {
            color: #888888;
            font-size: 14px;
            line-height: 13px;
            font-family: "Poppins";
            font-weight: 500;
            display: flex;
            gap: 4px;
            height: 35%;
            .dots {
                background-color: #2acccb;
                border-radius: 10px;
                width: 4px;
                height: 100%;
                padding: 0.5px;
            }
            .dotsone {
                background-color: #6fb7fc;
                border-radius: 10px;
                width: 4px;
                height: 100%;
                padding: 0.5px;
            }
            .dotstwo {
                background-color: #415be7;
                border-radius: 10px;
                width: 4px;
                height: 100%;
                padding: 0.5px;
            }
        }
    }
    .progress__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .progress__bar__text {
            width: 18%;
            color: #263446;
            font-size: 12px;
            line-height: 10px;
            font-family: "Poppins";
            font-weight: 500;
        }
        .progreebar {
            width: 80%;
            .p-progressbar {
                border: 0 none;
                height: 1.5rem;
                background: #EAFAFA;
                border-radius: 6px;
            }
            .p-progressbar-label {
                display: none !important;
            }
            .p-progressbar .p-progressbar-value {
                border: 0 none;
                margin: 0;
                background: #2ACCCB !important;
            }
        }
    }
    .progress__bar__one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .progress__bar__text {
            width: 18%;
            color: #263446;
            font-size: 12px;
            line-height: 10px;
            font-family: "Poppins";
            font-weight: 500;
        }
        .progreebar {
            width: 80%;
            .p-progressbar {
                border: 0 none;
                height: 1.5rem;
                background: #f1f8ff;
                border-radius: 6px;
            }
            .p-progressbar-label {
                display: none !important;
            }
            .p-progressbar .p-progressbar-value {
                border: 0 none;
                margin: 0;
                background: #6FB7FC !important;
            }
        }
    }
    .progress__bar__two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .progress__bar__text {
            width: 18%;
            color: #263446;
            font-size: 12px;
            line-height: 10px;
            font-family: "Poppins";
            font-weight: 500;
        }
        .progreebar {
            width: 80%;
            .p-progressbar {
                border: 0 none;
                height: 1.5rem;
                background: #eceffd;
                border-radius: 6px;
            }
            .p-progressbar-label {
                display: none !important;
            }
            .p-progressbar .p-progressbar-value {
                border: 0 none;
                margin: 0;
                background: #415BE7 !important;
            }
        }
    }
}
