.card__layout__student__details{
    .p-paginator {
        justify-content: flex-end !important;
        width: 100%;
    }
    .nodatafound_container{
        text-align:center;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Poppins';
        color: #80889E;
        width: 100%;
    }
    .card__layout__cardview{
        height: 100%;
        display: flex;
        gap: 1.5rem;
        padding: 16px;
        border: 1px solid #D7D9DE;
        border-radius: 0.5rem;

        .p-image{
            width: 15%;

            img{
                width: 100%;
                border-radius: 0.5rem;
            }
        }

        .staff__name{
            color: #1B2150;
            font-size: 1.25rem;
            font-weight: 400;
            margin-bottom: 8px;
        }

        .card__text{
            color: #6C757D;
            font-size: 0.875rem;
            font-weight: 400;
        }

        .role__layout{
            display: flex;
            justify-content: space-between;
            margin-top: 0.5rem;

            div{
                background-color: #CDD7F8;
                color: #3D5EE1;
                width: 47%;
                text-align: center;
                padding: 0.25rem 0;
                border-radius: 0.25rem;
            }
        }
    }
}